##############################################################################
# General Variables
##############################################################################

# Directory Where Containers and Their Volumes will be created
#
export PODMAN_DIR=/podman


# Network(s) containers will be connected to
#
# Space delimited list of podman networks to create for Guacamole
#
# (Hint: There is typically only 1 network required)
#
export GUACAMOLE_NETWORK_LIST="guacamole"


# DBMS to use with Guacamole
#
# Options: postgresql|mariadb
#
export GUACAMOLE_DBMS=mariadb


# List of Packages to install
#
# Space delimited list
#
export REQUIRED_PKG_LIST="podman xrdp"


# List of Services that Must Be Started
#
# Space delimited list
#
export REQUIRED_SERVICES_LIST="xrdp"


##############################################################################
# Firewall Variables
##############################################################################

# Enable and configure firewalld
#
# Options: true|false
#
# Default: false
#
export FIREWALL_ENABLED=false


# List of Ports That Must be Opened in the Firewall
#
# Space delimited list
#
# Format for each port: <port>/<protocol>
#
# Example: 8080/tcp
#
export REQUIRED_FIREWALL_PORTS_LIST="8080/tcp 8443/tcp"


# List of Services That Must be Opened in the Firewall
#
# Space delimited list
#
# Example: "http https"
#
export REQUIRED_FIREWALL_SERVICES_LIST=""


##############################################################################
# Container Image Variables
##############################################################################

# Guacamole container image to run
#
export GUACAMOLE_CONTAINER_IMAGE=docker.io/guacamole/guacamole


# Guacd container image to run
#
export GUACD_CONTAINER_IMAGE=docker.io/guacamole/guacd


# NGINX container image to run
#
export NGINX_CONTAINER_IMAGE=docker.io/nginx


# MariaDB container image to run
#
export MARIADB_CONTAINER_IMAGE=docker.io/library/mariadb


# PostgreSQL container image to run
#
export POSTGRESQL_CONTAINER_IMAGE=docker.io/library/postgres:16-alpine


##############################################################################
# Guacamole Variables
##############################################################################

# Guacamole Database Name
#
export GUACDB_NAME=guacamole_db


# Guacamole Database User
#
export GUACDB_USER=guacamole


# Guacamole Database Password
#
# This is plain text.
#
export GUACDB_PASSWORD=GuacDBp@55w0rd


# Guacamole Admin User Password
#
# Password to set for tghe default Guacamole admin user (guacadmin)
#
export GUACADMIN_PASSWORD=Guacadminp@55w0rd


# Web App context
#
# Setting this to ROOT sets the webroot to: http://<HOSTNAME>:<PORT>
# 
# Leaving this empty sets the webroot to: http://<HOSTNAME>:<PORT>/guacamole/ 
#
# Default: 

export GUACAMOLE_WEBAPP_CONTEXT=


# NGINX Config file
#
# The NGINX config file used to configure the Guacamole NGINX proxy.
#
export NGINX_CONFIG_FILE=nginx_default.conf


# Guacamole port
#
# The port the Guacamole server listens on.
#
# Default: 8080
#
export GUACAMOLE_INTERNAL_PORT=8080


# Guacamole external port
#
# The host port that is redirected to GUACAMOLE_INTERNAL_PORT.
#
# Default: 8080
#
export GUACAMOLE_EXTERNAL_PORT=8080


##############################################################################
#  TLS/SSL Variables
##############################################################################

# NGINX TLS port
#
# The port the Guacamole proxy will listen on for SSL/TLS connections.
#
# Default: 8443
#
export NGINX_TLS_PORT=8443


# TLS Certificate File
#
# If you are having this script generating a self signed certificate set this
# to: cert.pem
#
# If you are bringing your own certificate set it to the name of your 
# certificate file.
#
export NGINX_TLS_CERT_FILE=cert.pem


# TLS Certificate Key File
#
# If you are having this script generating a self signed certificate set this
# to: key.pem
#
# If you are bringing your own certificate set it to the name of your 
# key file.
#
export NGINX_TLS_KEY_FILE=key.pem


# TLS CSR Valid Days
#
# Use when the script generates a self signed certificate.
#
export TLS_DAYS=3650


# TLS CSR Country
#
# Use when the script generates a self signed certificate.
#
export TLS_C=US


# TLS CSR State
#
# Use when the script generates a self signed certificate.
#
export TLS_ST=UT


# TLS CSR Local
#
# Use when the script generates a self signed certificate.
#
export TLS_L=Payson


# TLS CSR Organization
#
# Use when the script generates a self signed certificate.
#
export TLS_O=SUSE


# TLS CSR Organizational Unit
#
# Use when the script generates a self signed certificate.
#
export TLS_OU=Training

