##############################################################################
# Users Variables
##############################################################################

# List of Guacamole Users to Create
# 
# Space delimited list of comma delimited lists
# 
# Each comma delimited list describes a user
#
# User Fields: <username>,<password_plaintext>
#
#   <username>           The username used to log into Guacamole.
#   <password_plaintext> The password in plain text.
#
# Example: "demouser,password1234 tux,linux geeko,password"
#
export GUAC_USER_LIST=""


##############################################################################
# Connections Variables
##############################################################################

# List of RDP Connections
#
# Space delimited list of comma delimited lists
#
# Each comma delimited list describes a connection
#
# Connections fileds: <connection_name>,<host>,<username>,<password>
#
#   <connection_name>  The name of the connection. Must NOT contain spaces.
#   <host>             The hostname/FQDN/IP of the host connected to.
#   <username>         The username used to log in vi RDP.
#   <password>         The password in plain text.
#
# Example: "localhost-GUI,host.containers.internal,tux,linux Management-GUI,management.example.com,tux,linux"
#
export RDP_CONNECTION_LIST=""


# List of SSH Connections
#
# Space delimited list of comma delimited lists
#
# Each comma delimited list describes a connection
#
# Connections fileds: <connection_name>,<host>,<username>,<password>
#
#   <connection_name>  The name of the connection. Must NOT contain spaces.
#   <host>             The hostname/FQDN/IP of the host connected to.
#   <username>         The username used to log in via SSH.
#   <password>         The password in plain text.
#
# Example: "localhost-CLI,host.containers.internal,tux,linux Management-CLI,management.example.com,tux,linux"
#
export SSH_CONNECTION_LIST=""


# List of remote hostnames and IP address
#
# These are added to the /etc/hosts file on the Guacamole server so that it 
# can resolve them to make connections.
#
# The hostname or FQDN listed must match what is referenced in the 2nd field 
# of a connection listed in RDP_CONNECTION_LIST or SSH_CONNECTION_LIST.
#
# IMPORTANT:
#    If the host in the 2nd field is the hostname used to connect to the local
#    container host (i.e. host.containers.local) DO NOT add it to this list 
#    because it is already resolvable. 
#
# Space delimited list of comma delimited lists
#
# Each comma delimited list describes a host
#
# Host fields: <hostname>,<ip>
#
#   <hostname> Hostname or FQDN of a remote host that a connection will
#              be made to.
#   <ip>       IP address of the host.
#
# Example: "management.example.com,172.31.9.2 rancher.example.com,172.31.9.91"
#
export CONNECTION_HOSTNAME_LIST=""


# User to Connection Mapping
#
# Space delimited list of comma delimited lists
#
# Connection fields: <username>,<connection_name>
#
# <username>         Name of a user defined in ${GUAC_USER_LIST}
# <connection_name>  Name of a connection defined in ${RDP_CONNECTION_LIST}
#                    of ${SSH_CONNECTION_LIST}.
#                    The connection name must NOT contain spaces.
#
# Example: "demouser,localhost-GUI demouser,localhost-CLI tux,localhost-GUI tux,localhost-CLI tux,Management-GUI tux,Management-CLI"

export USER_CONNECTION_MAPPING_LIST=""


